<div class="webcenter">
    <div class="horizontal-line"></div>
    <div class="footer-content">
        <div class="one">
            <p>Open-source MIT Licensed</p><div class="vertikal-line2"></div> <a href="https://lumidice.com">Lumidice Store</a> <div class="vertikal-line2"></div> <a href="https://bio.iyansanjaya.com">Iyan Sanjaya</a>
        </div>
        <div class="two">
            <p>Copyright © {{ now.Year }} LumY App</p>
        </div>
    </div>
</div>

<script>
    // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("header").style.padding = "15px 0";
        document.getElementById("header").style.background = "#fff";
        document.getElementById("header").style.borderBottom = "1px solid #e7e8ec";
      } else {
        document.getElementById("header").style.padding = "19px 0";
        document.getElementById("header").style.background = "#00000000";
        document.getElementById("header").style.borderBottom = "0px solid #e7e8ec";
      }
    }
</script>

<script>
    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }
    
    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }
</script>