<div class="webcenter">
    <div class="horizontal-line"></div>
    <div class="footer-content">
        <div class="one">
            <p>Open-source</p><div class="vertikal-line2"></div> <a href="https://lumidice.com">Lumidice</a> <div class="vertikal-line2"></div> <a href="mailto:cs@lumy.li">cs@lumy.li</a>
        </div>
        <div class="two">
            <p>Copyright © {{ now.Year }} LumY Shortlink</p>
        </div>
    </div>
</div>

<!-- HEADER -->
<script>
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("header").style.padding = "15px 0";
        document.getElementById("header").style.background = "#fff";
        document.getElementById("header").style.borderBottom = "1px solid #e7e8ec";
      } else {
        document.getElementById("header").style.padding = "19px 0";
        document.getElementById("header").style.background = "#00000000";
        document.getElementById("header").style.borderBottom = "0px solid #e7e8ec";
      }
    }
</script>

<script>
    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }
    
    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }
</script>
<!-- END HEADER -->

<!-- DECAPCMS -->
<script>
    const anchorTag = document.getElementById("login");
    const outputToken = document.getElementById("output-token");
    const outputEmail = document.getElementById("output-email");

    anchorTag.addEventListener("click", (event) => {
      event.preventDefault();

      const authenticator = new netlify.default({});

      authenticator.authenticate(
        // Set the OAuth provider and token scope
        // Provider can be "github", "gitlab", or "bitbucket"
        // The scopes available depend on your OAuth provider
        { provider: "github", scope: "user" },
        async function (error, data) {
          if (error) {
            outputToken.innerText =
              "Error Authenticating with GitHub: " + error;
          } else {
            outputToken.innerText =
              "Authenticated with GitHub. Access Token: " +
              data.token;
            outputEmail.innerText = await loadGitHubUserEmails(
              data.token
            );
          }
        }
      );
    });

    async function loadGitHubUserEmails(token) {
      return await fetch("https://api.github.com/user/emails", {
        headers: {
          Accept: "application/vnd.github.v3+json",
          Authorization: `token ${token}`,
        },
      })
        .then((response) => response.json())
        .then((response) => JSON.stringify(response));
    }
</script>
<!-- END DECAPCMS -->