<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<link rel="icon" type="image/x-icon" href="/img/logo-lumy.svg">

{{ if .Description }}
<meta name="description" content="{{ .Description }}">
{{ else if eq .Kind "section" }}
<meta name="description" content="{{.Summary}}">
{{ else }}
<meta name="description" content="{{ .Site.Params.Description }}">
{{ end }}

<!-- SEO Friendly -->
<!-- Facebook Metadata Start -->
<meta property="og:title" content="{{.Title}}" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="id_ID" />
{{ if .Description }}
<meta property="og:description" content="{{ .Description }}" />
{{ else if eq .Kind "section" }}
<meta property="og:description" content="{{.Summary}}" />
{{ else }}
<meta property="og:description" content="{{ .Site.Params.Description }}" />
{{ end }}
<meta property="og:url" content="{{.Permalink}}" />
{{ if .IsHome }}
<meta property="og:image" content="https://lumy.li/img/lumy-shortlink-banner.webp" />
{{ else }}
<meta property="og:image" content="https://lumy.li{{.Params.featured_image}}" />
{{ end }}
<!-- Twitter Metadata Start -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@lumidice" />
<meta name="twitter:title" content="{{.Title}}" />
{{ if .Description }}
<meta name="twitter:description" content="{{ .Description }}" />
{{ else if eq .Kind "section" }}
<meta name="twitter:description" content="{{.Summary}}" />
{{ else }}
<meta name="twitter:description" content="{{ .Site.Params.Description }}" />
{{ end }}
{{ if .IsHome }}
<meta name="twitter:image" content="https://lumy.li/img/lumy-shortlink-banner.webp" />
{{ else }}
<meta name="twitter:image" content="https://lumy.li{{.Params.featured_image}}" />
{{ end }}
<!-- Twitter Metadata End -->

<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">

<script src="https://unpkg.com/netlify-auth-providers"></script>