<!-- {{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->

<div class="webcenter">
    <div class="wrapper">
        <div class="logo">
            <a href="#"><h3>LumY</h3></a>
        </div>
        <!-- MOBILE -->
        <div class="icon-mobile-menu hide">
            <a onclick="openNav()"><img src="/img/menu.svg"></a>
        </div>
        <div id="myNav" class="menu-mobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="menu-mobile-content">
                <a href="#">Selamat datang di LumY Shortlink!</a>
                <a href="#">Docs</a>
                <a href="#">About</a>
            </div>
        </div>
        <!-- END MOBILE-->
        <div class="menu">
            <p>Selamat datang di LumY Shortlink!</p>
            <div class="vertikal-line"></div>
            <a href="#">News</a>
            <a href="#">Docs</a>
            <a href="#">About</a>
        </div>
    </div>
</div>