<!-- {{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->

<div class="webcenter">
    <div class="wrapper">
        <div class="logo">
            <a href="#"><h3>LumY</h3></a>
        </div>
        <!-- MOBILE -->
        <div class="icon-mobile-menu hide">
            <a onclick="openNav()"><img src="/img/menu.svg"></a>
        </div>
        <div id="myNav" class="menu-mobile">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="menu-mobile-content">
                <a href="#">Selamat datang di LumY Shortlink!</a>
                <a href="/admin">Login</a>
                <a href="https://docs.lumy.li">Docs</a>
                <a href="https://github.com/iyansanjaya/lumy/issues/new">Report</a>
                <a href="#" class="second">
                    <div class="private">
                        <img src="/img/shield.png">
                        <div class="text">
                            <p class="top">Request</p>
                            <p>Private Dashboard</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- END MOBILE-->
        <div class="menu">
            <p>Selamat datang di LumY Shortlink!</p>
            <div class="vertikal-line"></div>
            <a href="/admin">Login</a>
            <a href="https://docs.lumy.li">Docs</a>
            <a href="https://github.com/iyansanjaya/lumy/issues/new">Report</a>
        </div>
    </div>
</div>