{{ define "main" }}
  <!-- {{ .Content }}
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }} -->

<div class="webcenter">
  <div class="wrapper">
      <div class="section-one">
          <div class="left">
              <div class="head-text blue">LumY</div>
              <div class="head-text">Shortlink</div>
              <p>Website Shortlink gratis untuk semua orang.</p>
              <button>Mulai</button>
          </div>
          <div class="right">
              <img src="/img/phone.webp">
          </div>
      </div>
      <div class="section-two">
          <div class="card">
              <div class="icon"><img src="/img/no-money.svg"></div>
              <h2>Gratis Selamanya</h2>
              <p>Gratis tanpa perlu membayar biaya apapun seumur hidup layanan.</p>
          </div>
          <div class="card">
              <div class="icon"><img src="/img/infinity.svg"></div>
              <h2>Tanpa Batas</h2>
              <p>Buat shortlink sebanyak apapun tanpa perlu takut terkena limit.</p>
          </div>
          <div class="card">
              <div class="icon"><img src="/img/equalizer.svg"></div>
              <h2>Edit Sesuka Hati</h2>
              <p>Tentukan shortlink sendiri dan bisa diedit kapanpun.</p>
          </div>
      </div>
  </div>
</div>
{{ end }}
